.pan-container{
	width: max-content;
    height: 1000px;
	margin-top: 20px;
	border: 1px solid #E4E4E4;
	background: #fff;
	border-radius: 10px;
    text-align: center;
    min-width:960px;
    
     
}
div#genealogy_id {
    padding-left: 10%;
}
/*Now the CSS*/
* {margin: 0; padding: 0;}

.tree ul {
	padding-top: 20px; 
	position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	/*padding: 20px 5px 0 5px;*/
	padding: 20px 1px 0 1px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	/*padding: 5px 10px;*/
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
h4 {
font-size: 12px !important;	
}
/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}
.tree-user{
  min-width: 100px;
height: 60px;
}
.invest-info div,.nodes-info div{display:inline-block!important;}
.nodes-info {background: #444444;color: #fff; padding-top: 10px;}
.nodes-info .midx{background: #E77F24;}
.invest-info {background: #4355D2;
color: #fff;padding: 1%;}
.linfest{border-right:1px solid #fff;}
#tree-loading{
    width: 90%;
    height: 500px;
    background: #fff;
    margin-top: 20px;
    border-radius: 10px;
}
.pan-container{display:none;}

.user {
    position:relative;
    padding-top:20px;
    margin-top:20px;
    display:inline-block;
}
.notify-badge {
    position: absolute;
    right: -25px;
    top: 21px;
    background: grey;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    color: white;
    padding: 0px 7px 0px 7px;
    font-size: 12px;
    clear:both;
}

	.tree-user{
        position: relative;
        min-height: 115px;
	}
	.alert-info, .Legends {
		background-color: #fff;
	}
	.alert-info-box
	{
		background-color: #0000FF;
		width:35px;
		border :1px;
	}
	.alert-warning, .Legends {
		background-color: #fff;
	}

	.alert-warning-box
	{
		background-color: #ffe34c;
		width:35px;
		border :1px;
	}
	.alert-success-box
	{
		background-color: #41a941;
		width:35px;
		border :1px;
	}
	.alert-danger-box
	{
		background-color: #ff7300;
		width:35px;
		border :1px;
	}
	.alert-primary-box
	{
		background: black;
		width:35px;
		color : #FFF;
		border :1px;
	}
	.alert-info .user-icon {
		background: #0000FF;
	    border-radius: 50%;
	    width:   41px;
	}
	.alert-warning .user-icon {
		background: #ffe34c;
	    border-radius: 50%;
	    width:   41px;
	}
	.alert-danger .user-icon {
		background: #ff7300;
	    border-radius: 50%;
	    width:   41px;
	}
	.alert-success .user-icon {
		background: #41a941;
	    border-radius: 50%;
	    width:   41px;
	}
	.alert-primary .user-icon {
		background: black;
	    border-radius: 50%;
	    color: #fff;
	    width:   41px;
	}
	.mypopup{
	    display: none;
		position: absolute;
		top: 60px;
		left: 50px;
		width: 225px;
		z-index: 999;
		border-radius: 15px;
		color: #fff;
	}
	.tree-user:hover .mypopup, .admin_tree:hover .mypopup{
		display: block !important;

	}
	.admin_tree{
	    position: relative;
        min-height: 115px;
	}
	.tree li a, .tree li a:hover, .tree-user .alert-danger, .tree-user .alert-success{
	    border-color: transparent !important;
	    background: transparent !important;
	}
	.add-icon{
	    border-radius: 50%;
        background: #ff7300;
        font-size: 20px;
        width: 41px;
        height: 41px;
        display: block;
        padding: 7px 14px;
	}
	.alert-warning
	{
		color:#ffe34c;
	}
	.plan-info,.nodes-info,.invest-info
	{
	    background-color: #232525c4;
	}
	.fa-dollar
	{
		font-weight: bolder;
	}
	.plan-info-1,.notify-badge-1,.plan-info-1>.invest-info
	{
	    background-color: orange!important;
	}
	
   .plan-info-2,.notify-badge-2,.plan-info-2>.invest-info
	{
	    background-color: violet!important;
	}
	
		
   .plan-info-3,.notify-badge-3,.plan-info-3>.invest-info
	{
	    background-color: blue!important;
	}
	
		
   .plan-info-4,.notify-badge-4,.plan-info-4>.invest-info
	{
	    background-color: maroon!important;
	}
		
   .plan-info-5,.notify-badge-5,.plan-info-5>.invest-info
	{
	    background-color: green!important;
	}
	
	
	
/*Thats all. I hope you enjoyed it.
Thanks :)*/